.html-parsed-setting code {
    background-color: rgb(33 37 41);
    border-radius: .2rem;
    color: rgb(255 255 255);
    font-size: .75em;
    padding: .1rem .2rem;
}
.html-parsed-setting .alert {
    border: 1px solid rgb(0 0 0 / 0%);
    border-radius: .25rem;
    font-size: 14px;
    padding: 0.75rem;
    position: relative;
}
.html-parsed-setting .alert-danger {
    background-color: rgb(248 215 218);
    border-color: rgb(245 194 199);
    color: rgb(132 32 41);
}
.html-parsed-setting .alert p {
    margin: 0rem 0rem 0.5rem;
}
.html-parsed-setting .alert p:last-child {
    margin: 0rem;
}